@import "../../assets/variables.scss";

.example-radio-group {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

mat-form-field {
  margin-right: $spacing-S;
  &:last-child {
    margin-right: 0;
  }
  &:only-child {
    width: 100%;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #424242 inset !important;
    -webkit-text-fill-color: $white !important;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
    margin: 0;
  }
}

hr {
  width: 80%;
  border: 0;

  height: 1px;
  background-color: $secondary;
}

mat-progress-bar {
  height: 0.5rem;
  border-radius: 1rem;
}
