<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<h1 mat-dialog-title>Add user</h1>
<div mat-dialog-content>
  <form>
    <div>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>First name</mat-label>
        <input
          [formControl]="firstName"
          name="firstName"
          matInput
          type="text"
          placeholder="Fred"
          required
        />
        <mat-error *ngIf="firstName.invalid">{{
          getErrorMessage(firstName, "name")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Last name</mat-label>
        <input
          [formControl]="lastName"
          name="lastName"
          type="text"
          matInput
          placeholder="Firestone"
          required
        />
        <mat-error *ngIf="lastName.invalid">{{
          getErrorMessage(lastName, "name")
        }}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Birthdate</mat-label>
        <input
          [(ngModel)]="birthdate"
          name="birthdate"
          matInput
          [matDatepicker]="picker1"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Enter your email</mat-label>
        <input
          [formControl]="email"
          name="email"
          type="email"
          matInput
          placeholder="pat@example.com"
          required
        />
        <mat-error *ngIf="email.invalid">{{
          getErrorMessage(email, "email")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Phone</mat-label>
        <input
          [(ngModel)]="user.phone"
          name="phone"
          type="number"
          class="number-input"
          matInput
          placeholder="0815 21212121"
        />
      </mat-form-field>
    </div>

    <div class="address">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Street with house no.</mat-label>
        <input
          [(ngModel)]="user.street"
          name="street"
          type="text"
          matInput
          placeholder="Stonestreet 7"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Zip code</mat-label>
        <input
          [(ngModel)]="user.zipCode"
          name="zipCode"
          type="number"
          matInput
          placeholder="081521"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label>City</mat-label>
        <input
          [(ngModel)]="user.city"
          name="city"
          type="text"
          matInput
          placeholder="Firevillage"
        />
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-flat-button (click)="saveUser()" color="primary">Save</button>
</div>
