<div class="holder">
  <mat-card class="local">
    <mat-icon>my_location</mat-icon>
    <div class="data-info">
      <span class="data">32</span>
      <span class="info">Locations</span>
    </div>
  </mat-card>

  <mat-card class="warehouse">
    <mat-icon>warehouse</mat-icon>
    <div class="data-info">
      <span class="data">247</span>
      <span class="info">Shops</span>
    </div>
  </mat-card>

  <mat-card class="shopping">
    <mat-icon>shopping_cart</mat-icon>
    <div class="data-info">
      <span class="data">58946</span>
      <span class="info">Products sold</span>
    </div>
  </mat-card>

  <mat-card class="money">
    <mat-icon>attach_money</mat-icon>
    <div class="data-info">
      <span class="data">55,211.58</span>
      <span class="info">Total revenue</span>
    </div>
  </mat-card>
</div>
