<mat-drawer-container class="example-container">
  <mat-toolbar color="accent">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Simple CRM</span>
  </mat-toolbar>

  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logo">LOGO</div>

    <div class="links">
      <ul>
        <li routerLink="user"><mat-icon>person</mat-icon>User</li>
        <li routerLink="dashboard"><mat-icon>dashboard</mat-icon>Dashboard</li>
        <li routerLink="createuser">
          <mat-icon>person_add</mat-icon>Create random User
        </li>
        <li routerLink="user"><mat-icon>add</mat-icon>Placeholder</li>
        <li routerLink="user"><mat-icon>add</mat-icon>Placeholder</li>
      </ul>
    </div>
  </mat-drawer>

  <div class="content">
    <router-outlet class="router"></router-outlet>
  </div>
</mat-drawer-container>
