<mat-card class="user-header">
  <img src="assets/img/profile_pics/character4.png" alt="" />
  <div class="user-header-text">
    <h1>{{ user.firstName + " " + user.lastName }}</h1>
    <h2>IT-Experte</h2>
  </div>
</mat-card>

<div class="card-box">
  <mat-card class="card">
    <button mat-icon-button (click)="openEditadress()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-card-title>Address</mat-card-title>

    <mat-card-content>
      <p>{{ user.street }}</p>
      <p>{{ user.zipCode + " " + user.city }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <button mat-icon-button (click)="openEditContact()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-card-title>Contact</mat-card-title>

    <mat-card-content>
      <table>
        <tr>
          <td>Phone Number:</td>
          <td>{{ user.phone }}</td>
        </tr>
        <tr>
          <td>Email-Address:</td>
          <td>{{ user.email }}</td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
