<mat-card>
  <table>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Adress</th>
    </tr>

    <tr
      *ngFor="let user of users; let i = index"
      [routerLink]="['/user/' + user.userID]"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>{{ user.birthdate }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>
        {{ user.street }} <br />
        {{ user.zipCode }} {{ user.city }}
      </td>
    </tr>
  </table>
</mat-card>

<button
  mat-fab
  color="primary"
  matTooltip="Add user"
  class="add-btn"
  (click)="openDialog()"
>
  <mat-icon>person_add</mat-icon>
</button>
