@import "../../assets/variables.scss";

mat-card {
  padding: 0;
}
.table-header {
  &:hover {
    background-color: unset !important;
    cursor: unset !important;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  thead {
    background-color: red;
    &:hover {
      background-color: unset;
      cursor: unset;
    }
  }
  th,
  td {
    &:first-child {
      padding-left: $spacing-S;
    }
    &:last-child {
      padding-right: $spacing-S;
    }
  }
  th {
    color: $white-tr;
    font-weight: 400;
    font-style: italic;
    text-align: start;
  }
  td {
    text-align: start;
  }
  tr {
    height: $spacing-XL;
    border-bottom: 1px solid $secondary-tr;
    &:hover {
      cursor: pointer;
      background-color: $white-tr;
    }
    &:first-child {
      height: $spacing-L;
    }
  }
}

.add-btn {
  position: fixed;
  right: $spacing-M;
  bottom: $spacing-M;
}
