<mat-card (window:resize)="onResize($event)">
  <table mat-table [dataSource]="users" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let users">
        {{ users.firstName }} {{ users.lastName }}
      </td>
    </ng-container>
    <!-- Birthdate Column -->
    <ng-container matColumnDef="birthdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Birthdate</th>
      <td mat-cell *matCellDef="let users">{{ users.birthdate }}</td>
    </ng-container>
    <!-- E-Mail Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>E-Mail</th>
      <td mat-cell *matCellDef="let users">{{ users.email }}</td>
    </ng-container>
    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let users">{{ users.phone }}</td>
    </ng-container>
    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let users">
        {{ users.street }}
        <br />
        {{ users.zipCode }} {{ users.city }}
      </td>
    </ng-container>
    <!-- Employment Column -->
    <ng-container matColumnDef="employment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Employment</th>
      <td mat-cell *matCellDef="let users">{{ users.employment }}</td>
    </ng-container>

    <tr
      class="table-header"
      mat-header-row
      *matHeaderRowDef="displayedColumns"
    ></tr>
    <tr
      [routerLink]="['/user/' + row.userID]"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of users"
  >
  </mat-paginator>
</mat-card>

<button
  mat-fab
  color="primary"
  matTooltip="Add user"
  class="add-btn"
  (click)="openDialog()"
>
  <mat-icon>person_add</mat-icon>
</button>
