// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$simple-CRM-primary: mat.define-palette(mat.$own-primary-palette);
$simple-CRM-accent: mat.define-palette(
  mat.$own-secondary-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$simple-CRM-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$simple-CRM-theme: mat.define-dark-theme(
  (
    color: (
      primary: $simple-CRM-primary,
      accent: $simple-CRM-accent,
      warn: $simple-CRM-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($simple-CRM-theme);

/* You can add global styles to this file, and also import other style files */
@import "../src/assets/fonts/font.css";
@import "../src/assets/variables.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Josefin Sans", "Helvetica Neue", sans-serif;
}

mat-form-field {
  margin-right: $spacing-S;
  &:last-child {
    margin-right: 0;
  }
  &:only-child {
    width: 100%;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #424242 inset !important;
    -webkit-text-fill-color: $white !important;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
    margin: 0;
  }
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $secondary-tr;
}
